.App {
  text-align: center;
  margin-top: 100px;
}

.question {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;

}

.yes, .no {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

.yes {
  background-color: #4CAF50;
  color: white;
}

.no {
  background-color: #f44336;
  color: white;

}

.yes:hover, .no:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.notification-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  font-size: 20px;
}

.notification {
  text-align: center;
}

.notification button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
